	body {
		font-family: "microsoft yahei";
	}
	a {
		color: #ffffff;
	}
	a:hover {
		text-decoration: none;
		color: rgb(102,217,239);
	}
	/*重构bootstrap*/
	.container-fluid {
		/*height: 426px;*/
		width: 100%;
		padding: 0 105px;
		background: rgb(111,111,111);
	}
	
	/*header*/
	.name{
		float: left;
		line-height: 50px; 
		font-size:24px;
	}
	.nav-bar {
		height: 50px;
		width: 100%;
	}
	.nav {
		line-height: 50px;
		font-size: 14px;
	}
	.nav a{
		margin-left: 10px;
	}
	.menu-btn{
		width: 22px;
		height: auto;
		margin-top: 16px;
		display: none;
		float: right;
	}
	.strunk-menu {
		width: 100%;
		padding-top: 10px;
		font-size: 20px;
		line-height: 2;
		display: none;
	}
	.strunk-menu a {
		display: block;
	}
	.propagate {
		font-size: 36px;
		padding: 48px 0;
	}
	
	/*媒体介绍*/
	.message{
		display: block;
		background: rgb(117,113,94);
		width: 100%;
		height: 52px;
		text-align: center;
		padding: 15px 0;
	}
	.message span{
		font-size: 18px;
		line-height: 22px;
		margin-left: 10px;
	}
	.message .message-name{
		color: rgb(102,217,239);
		cursor: pointer;
	}
	.message-divide{
		color: #fff;
	}
	.message .message-answer{
		color: rgb(132,129,255);
	}
	.code {
		width: 120px;
		height: auto;
	}
	
	/*中间模块*/
	.middle{
		background: #f3f3f3;
		width: 100%;
		height: 1000px;
		padding: 60px 105px 70px 105px;
	}
	.introduction{
		width: 100%;
	}
	.intro-logo{
		float:left;
		margin-top: 10px;
		margin-left: 11%;
	}
	.intro-text{
		float: left;
		width: 65%;
		margin-left: 3%;
		text-align: center;
	}
	

	/*底部模块*/
	.tail{
		background: rgb(111,111,111);
		width: 100%;
		padding: 30px 105px;
		color: #FFFFFF;
	}
	.tail-logo {
		width: 80%;
		height: auto;
	}
	.tail-info {
		margin-top: 20px;
	}
	
	/* *
	 	宽度自适应
	 * */
	
	/*>768px <992px 平板*/
	@media screen and (min-width: 769px) and (max-width: 992px){
		/*footer*/
		.tail {
			padding: 20px 30px;
		}
		.tail-pic {
			display: none;
		}

		/*中间模块*/
		.middle{
			padding: 40px 85px 50px 85px;
		}
		.intro-logo{
			margin-left: 5%;
		}
		.intro-text{
			width: 67%;
		}
	}
	/*<768px 手机*/
	@media screen and (max-width: 768px) {
		/*header*/
		.message-divide {
			display: none;
		}
		.message {
			height: 120px;
		}
		.message-name {
			display: block;
			line-height: 1.5 !important;
			font-size: 20px !important;
		}
		.container-fluid {
			padding: 0 55px;
		}
		.nav {
			display: none;
		}
		.menu-btn {
			display: block;
		}

		/*middle*/
		.middle{
			padding: 20px 40px 60px 40px;
		}
		.intro-logo{
			margin-left: 40%;
		}
		.intro-text{
			width: 90%;
		}
		
		/*footer*/
		.tail{
			padding: 20px 30px;
			text-align: center;
		}
		.tail-pic {
			display: none;
		}
		.tail-intro{
			display: none;
		}
	}
	/*<360px 小手机*/
	@media screen and (max-width: 380px) {
		.container-fluid {
			padding: 0 20px;
		}
		/*middle*/
		.middle{
			padding: 10px;
		}
		.intro-logo{
			margin-left: 25%;
		}
		/*footer*/
		.tail {
			padding: 5px;
		}
	}
