	body {
		font-family: "microsoft yahei";
	}
	a {
		color: #ffffff;
	}
	a:hover {
		text-decoration: none;
		color: rgb(102,217,239);
	}
	/*重构bootstrap*/
	.container-fluid {
		/*height: 426px;*/
		width: 100%;
		padding: 0 105px;
		background-color: rgb(30,43,34);
		background-image: url(../img/123.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center 46%;
	}
	
	/*header*/
	.name{
		float: left;
		line-height: 50px; 
		font-size:24px;
	}
	.nav-bar {
		height: 50px;
		width: 100%;
	}
	.nav {
		line-height: 50px;
		font-size: 14px;
	}
	.nav a{
		margin-left: 10px;
	}
	.menu-btn{
		width: 22px;
		height: auto;
		margin-top: 16px;
		display: none;
		float: right;
	}
	.strunk-menu {
		width: 100%;
		padding-top: 10px;
		font-size: 20px;
		line-height: 2;
		display: none;
	}
	.strunk-menu a {
		display: block;
	}
	.propagate {
		font-size: 36px;
		padding: 48px 0;
		height: 310px;
	}
	
	/*媒体介绍*/
	.message{
		display: block;
		background: rgba(18,108,119,0.8);
		width: 100%;
		height: 52px;
		text-align: center;
		padding: 15px 0;
	}
	.message span{
		font-size: 18px;
		line-height: 22px;
		margin-left: 10px;
	}
	.message .message-name{
		color: rgb(253,203,87);
		cursor: pointer;
	}
	.message-divide{
		color: #fff;
	}
	.message .message-answer{
		color: rgb(255,255,255);
	}
	.code {
		width: 120px;
		height: auto;
	}
	
	/*中间模块*/
	.middle{
		background: #f3f3f3;
		width: 100%;
		padding: 40px 105px 50px 105px;
	}
	.introduction{
		width: 100%;
		padding: 0 11% 20px 11%;
	}
	.intro-logo{
		float:left;
		/*margin-top: 10px;*/
		/*margin-left: 11%;*/
	}
	.intro-text{
		float: left;
		width: 65%;
		margin-left: 3%;
		text-align: center;
	}
	/*时间轴*/
	.history {
		width: 100%;
		overflow: hidden;
		margin-bottom: 20px;
		box-shadow: 0 0 15px 5px #E1E1E1;
	}
	.history-top {
		width: 100%;
		text-align: center;
		background: #FFFFFF;
		padding: 10px 0;
		border-top: 1px solid #e1e1e1;
		border-left: 1px solid #e1e1e1;
		border-right: 1px solid #e1e1e1;
	}
	.triangle {
		position: absolute;
		width: 0;
	    height: 0;
	    border-left: 15px solid transparent;
	    border-right: 15px solid transparent;
	    border-top: 15px solid #FFFFFF;
	    left: 50%;
	    margin-left: -15px;
	    z-index: 1;
	}
	.triangle-bottom {
	    border-top: 15px solid #262626;
	}
	.time-line {
		position: relative;
		width: 100%;
		height: 198px;
		background: url(../img/bg-about.jpg) no-repeat;
		border-left: 1px solid #e1e1e1;
		border-right: 1px solid #e1e1e1;
	}
	.time-line i {
		position: absolute;
		top: 0;
		z-index: 100;
		width: 30%;
		height: 100%;
	}
	.time-line .l {
		left: 0;
		background: url(../img/about-overlay-l.png) left no-repeat;
	}
	.time-line .r{
		right: 0;
		background: url(../img/about-overlay-r.png) right no-repeat;
	}
	.time-line .time {
		position: relative;
		width: 200px;
		height: 100%;
		margin: 0 auto;
	}
	#scroller {
		position: absolute;
		bottom: 50px;
		width: 500%;
		z-index: 99;
		border-bottom: 1px dotted #fff;
	}
	#history {
		width: 100%;
		text-align: center;
		padding-left: 0;
	}
	#history li {
		display: inline;
		list-style: none;
		width: 200px;
		float: left;
	}
	#history li a{
		display: block;
		/*float: left;
		width: 130px;*/
		margin: 0 35px;
		margin-bottom: -4px;
		font-size: 30px;
		font-family: arial !important;
		color: #5e5e5e;
		padding-bottom: 20px;
		background: url(../img/bull.png) bottom center no-repeat;
	}
	#history li a:hover {
		color: #bfbfbf;
		
	}
	#history li a:focus {
		text-decoration: none !important;
	}
	.active {
		color: #FFFFFF !important;
		font-size: 50px !important;
		margin-top: -30px !important;
	}
	.history-detail {
		height: 220px;
		position: relative;
		background: #e5e5e5;
		border-top: 1px solid #FFFFFF;
		border-left: 1px solid #e1e1e1;
		border-right: 1px solid #e1e1e1;
	}
	.cotainer {
		position: relative;
		width: 785px;
		/*width: 100%;*/
		height: 280px;
		margin: 0 auto;
		overflow: hidden;
	}
	.detail-holder {
		width: 500%;
		position: absolute;
		left: 0;
		top: 0;
	}
	.detail {
		width: 785px;
		height: 280px;
		position: relative;
		float: left;
		text-align: center;
	}
	.detail .thumb {
		width: 371px;
		height: 228px;
		position: absolute;
		left: 0;
		bottom: 0;
		background: url(../img/ad-bg.png) center no-repeat;
		background-size: 100%;
	}
	.detail .thumb img {
		position: absolute;
		left: 116px;
		top: 7px;
	}
	.detail h1 {
		position: absolute;
		left: 300px;
		top: 40px;
	}
	.detail p {
		width: 480px;
		position: absolute;
		left: 300px;
		top: 110px;
		text-align: left;
		font-size: 15px;
		font-family: "microsoft yahei" arial;
	}
	.divider {
		width: 100%;
		height: 60px;
		background: #FFFFFF;
		border-left: 1px solid #e1e1e1;
		border-right: 1px solid #e1e1e1;
		border-bottom: 1px solid #e1e1e1;
	}
	/*部门*/
	.department {
		width: 100%;
		text-align: center;
	}
	.branch {
		position: relative;
		display: inline-block;
		width: 200px;
		height: 250px;
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 20px;
		background: rgba(192,188,166,0.8);
		overflow:hidden;
	}
	.branch:nth-child(1){
		background: url(../img/offic.jpg);
		background-size:100% 100%;
	}
	.branch:nth-child(2){
		background: url(../img/C.jpg);
		background-size:100% 100%;
	}
	.branch:nth-child(3){
		background: url(../img/algorithm2.png);
		background-size:100% 100%;
	}
	.branch:nth-child(4){
		background: url(../img/sucure.jpg);
		background-size:100% 100%;
	}
	.branch:nth-child(5){
		background: url(../img/java.jpg);
		background-size:100% 100%;
	}
	.branch:nth-child(6){
		background: url(../img/python.jpg);
		background-size:100% 100%;
	}
	.branch:nth-child(7){
		background: url(../img/C-.jpg);
		background-size:100% 100%;
	}
	.branch:nth-child(8){
		background: url(../img/game.jpg);
		background-size:100% 100%;
	}
	.branch:nth-child(9){
		background: url(../img/web.jpg);
		background-size:100% 100%;
	}
	.branch:nth-child(10){
		background: url(../img/linux.jpg);
		background-size:100% 100%;
	}
	.branch h4 {
		position: absolute;
		top: 215px;
		width: 100%;
		margin: 0;
		padding: 10px 0;
		background: rgba(250,250,250,0.5);
	}
	.branch p{
		position: absolute;
		top: 250px;
		width: 100%;
		height: 100%;
		margin:0;
		padding: 10px 0;
		background:rgba(250,250,250,0.5);
	}
	

	/*底部模块*/
	.tail{
		background: rgba(18,108,119,0.85);
		width: 100%;
		padding: 30px 105px;
		color: #FFFFFF;
	}
	.tail-logo {
		width: 75%;
		height: auto;
	}
	.tail-info {
		margin-top: 20px;
	}
	
	/* *
	 	宽度自适应
	 * */
	
	/*>768px <992px 平板*/
	@media screen and (min-width: 769px) and (max-width: 992px){
		/*footer*/
		.tail {
			padding: 20px 30px;
		}
		.tail-pic {
			display: none;
		}

		/*中间模块*/
		.middle{
			padding: 40px 85px 50px 85px;
		}
		.intro-logo{
			width: 100%;
			margin-left: 0;
			text-align: center;
		}
		.intro-text{
			width: 100%;
		}

		/*时间轴*/
		.time-line i {
			width: 20%;
		}
		#history {
			padding-left: 30%;
		}
		@media screen and (max-width: 955px) {
			.cotainer {
				width: 100%;
			}
			.history-detail {
				height: auto;
			}
			.detail-holder {
				width: 500%;
			}
			.detail {
				width: 20%;
				text-align: center;
			}
			.detail .thumb {
				display: none;
			}
			.detail h1 {
				position: static;
			}
			.detail p {
				position: static;
				margin: 0 auto;
				font-size: 18px;
				text-align: center;
			}
		}

		/*部门*/
		.branch{
			width: 160px;
			height: 210px;
			margin-left: 15px;
			margin-right: 15px;
		}
		.branch h4{
			top:175px;
		}
		.branch p{
			top:210px;
		}
	}
	/*<768px 手机*/
	@media screen and (max-width: 768px) {
		/*header*/
		.message-divide {
			display: none;
		}
		.message {
			height: 120px;
		}
		.message-name {
			display: block;
			line-height: 1.5 !important;
			font-size: 20px !important;
		}
		.container-fluid {
			padding: 0 55px;
			background-size: 130%;
			background-position: center;
		}
		.nav {
			display: none;
		}
		.menu-btn {
			display: block;
		}

		/*middle*/
		.middle{
			padding: 20px 40px 60px 40px;
		}
		.intro-logo{
			/*margin-left: 40%;*/
			width: 100%;
			margin-left: 0;
			text-align: center;
		}
		.intro-text{
			width: 100%;
		}
		/*时间轴*/
		.cotainer {
			width: 100%;
		}
		.detail-holder {
			width: 500%;
		}
		.detail {
			width: 20%;
			text-align: center;
		}
		.detail .thumb {
			display: none;
		}
		.detail h1 {
			position: static;
		}
		.detail p {
			position: static;
			margin: 0 auto;
			width: auto;
			font-size: 18px;
			text-align: center;
		}
		
		/*部门*/
		.branch{
			width: 120px;
			height: 170px;
			margin-left: 10px;
			margin-right: 10px;
		}
		.branch h4{
			top:135px;
		}
		.branch p{
			top:170px;
		}
		/*footer*/
		.tail{
			padding: 20px 30px;
			text-align: center;
		}
		.tail-pic {
			display: none;
		}
		.tail-intro{
			display: none;
		}
	}
	/*<360px 小手机*/
	@media screen and (max-width: 380px) {
		.container-fluid {
			padding: 0 20px;
			background-size: 200%;
			background-position: center;
		}
		/*middle*/
		.middle{
			padding: 10px;
		}
		.intro-logo{
			width: 100%;
			margin-left: 0;
			text-align: center;
		}
		.intro-text {
			width: 100%;
		}
		/*时间轴*/
		.cotainer {
			width: 100%;
		}
		.history-detail {
			height: auto;
		}
		.detail-holder {
			width: 500%;
		}
		.detail {
			width: 20%;
			text-align: center;
		}
		.detail .thumb {
			display: none;
		}
		.detail h1 {
			position: static;
		}
		.detail p {
			position: static;
			margin: 0 auto;
			width: auto;
			font-size: 18px;
			text-align: center;
		}
		
		/*部门*/
		.branch{
			width: 100px;
			height: 120px;
			margin-left: 5px;
			margin-right: 5px;
		}
		.branch h4{
			top:85px;
		}
		.branch p{
			top:120px;
		}
		/*footer*/
		.tail {
			padding: 5px;
		}
	}
